body {
	font: normal 1rem/1 'Droid Sans', sans-serif;
	margin: 0 auto;
	max-width: 70rem;
	padding: 0 1rem;
}
code {
	background: #eee;
	border-radius: .1rem;
	font: normal 1rem/1 'Droid Sans Mono', monospace;
	padding: .3rem .5rem;
}
hr {
	height: 0;
	border: 0;
	border-top: 1px solid #ccc;
}
img {
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: #2980b9;
	text-decoration: none;
}
p {
	font: normal 1rem/2 'Droid Sans', sans-serif;
	margin: 0;
}

.break {
	padding-top: 10rem;
	width: 100%;
}
.clear {
	clear: both;
}

.left {
	color: #888;
	float: left;
	text-align: right;
	margin-right: 3rem;
	min-height: 1rem;
	width: 7rem;
}
.fake-left {
	margin-left: 10rem;
}
.right {
	float: left;
	max-width: calc(100% - 10rem);
}
