body {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: calc(100% - 2rem);
}
@media screen and (min-width: 1200px) {
	body {
		max-width: 80rem;
	}
}

code {
	background: #eee;
	border-radius: .3rem;
	padding: .3rem .5rem;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
hr {
	height: 0;
	border: 0;
	border-top: 1px solid #ccc;
}

a {
	color: #2980b9;
	text-decoration: none;
}
p {
	margin: 0 0 1rem;
}

.break {
	padding-top: 10rem;
	width: 100%;
}
.clear {
	clear: both;
}

.left {
	color: #888;
	float: left;
	text-align: right;
	margin-right: 3rem;
	min-height: 1rem;
	width: 7rem;
}
.fake-left {
	margin-left: 10rem;
}
.right {
	float: left;
	max-width: calc(100% - 10rem);
}
