/* $ Block Elements */
body {
	background: #ffffff;
	font: 400 1rem/1 'Droid Sans', sans-serif;
	margin: 0 auto;
	max-width: 70rem;
	padding: 0 1rem;
}
code,
kbd,
pre,
samp {
	background: #eeeeee;
	border-radius: 0.1rem;
	font: 400 0.9rem/1.5 'Droid Sans Mono', monospace;
	overflow-y: hidden;
	padding: 0.2rem 0.3rem;
	tab-size: 4;
	max-width: 70rem;
}
hr {
	border: 0;
	border-top: 1px solid #cccccc;
	height: 0;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
/* $ Typography */
a {
	color: #0d47a1;
	text-decoration: none;
}
p {
	font: 400 1rem/2 'Droid Sans', sans-serif;
	margin: 0;
}
/* $ Classes */
.break {
	padding-top: 10rem;
	width: width: calc(100vw - 2rem);
}
.half {
	float: left;
	max-width: 34rem;
}
.half .break {
	padding-top: 5rem;
}
.clear {
	clear: both;
}
.left {
	color: #888888;
	float: left;
	margin-right: 3rem;
	min-height: 1rem;
	text-align: right;
	width: 7rem;
}
.left img {
	margin: 0 -1rem;
}
.fake-left {
	margin-left: 10rem;
}
.right {
	float: left;
	max-width: calc(100vw - 14rem);
}
.half .right {
	max-width: 24rem;
}
.text-center {
	text-align: center;
}
@media screen and ( max-width: 70rem ) {
	.break-small {
		padding-top: 10rem;
		width: 100%;
	}
	.clear-small {
		clear: both;
	}
	.left {
		float: none;
		max-width: calc(100vw - 4rem);
		text-align: left;
	}
	.right {
		float: none;
		max-width: calc(100vw - 4rem);
	}
	.right.fake-left {
		margin-left: 0;
		max-width: calc(100vw - 4rem);
	}
	.left img {
		margin: 0;
	}
}
@media ( prefers-color-scheme: dark ) {
	html {
		filter: invert(1);
	}
}
